@font-face {
    font-family: 'Mont Semibold';
    src: url('../fonts/Mont-SemiBold.eot');
    src: url('../fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-SemiBold.woff') format('woff'),
    url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont Heavy';
    src: url('../fonts/Mont-Heavy.eot');
    src: url('../fonts/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Heavy.woff') format('woff'),
    url('../fonts/Mont-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont Heavy Italic';
    src: url('../fonts/Mont-HeavyItalic.eot');
    src: url('../fonts/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-HeavyItalic.woff') format('woff'),
    url('../fonts/Mont-HeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont Black';
    src: url('../fonts/Mont-Black.eot');
    src: url('../fonts/Mont-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Black.woff') format('woff'),
    url('../fonts/Mont-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mont Bold';
    src: url('../fonts/Mont-Bold.eot');
    src: url('../fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Bold.woff') format('woff'),
    url('../fonts/Mont-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}