@mixin f600 {
    font-family: 'Mont Semibold';
}
@mixin f700 {
    font-family: 'Mont Bold';
}
@mixin f800 {
    font-family: 'Mont Heavy';
}
@mixin f800i {
    font-family: 'Mont Heavy Italic';
}
@mixin f950 {
    font-family: 'Mont Black';
}